* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %flex-center;

  position: relative;

  min-height: 100vh;

  background-color: $pale-blue;

  font-family: $ff-default;
}

@media only screen and (max-width: $mobile-max-width) {

  body {
    align-items: flex-start;
  }
}