@mixin title-color($class){

  @if $class == main-title{
    color: $dark-gray-blue;
  }
  @else if $class == reaction {
    color: $light-red;
  }
  @else if $class == memory {
    color: $orangey-yellow;
  }
  @else if $class == verbal {
    color: $green-teal;
  }
  @else if $class == visual {
    color: $cobalt-blue;
  }
  @else if $class == summary {
    color: black;
  }
  @else {
    color: $white;
  }

  
}