//TYPOGRAPHY

//family
$ff-default: 'Hanken Grotesk', sans-serif;

//weights
$fw-regular: 500;
$fw-bold: 700;
$fw-bolder: 800;

//sizes

//11px
$fs-100: 0.68rem;

//16px
$fs-200: 1rem;

//18px
$fs-300: 1.125rem;

//21px
$fs-400: 1.3125rem;

//24px
$fs-500: 1.5rem;

//56px
$fs-900: 3.5rem;


//COLORS

$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);
$link-blue: hsl(228, 45%, 44%);

//gradients

//background
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);

//circle
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);


//RESPONSIVITY

//320px
$mobile-min-width: 20rem;

//375px
$mobile-width: 23.44rem;

//600px
$mobile-max-width: 37.5rem;

//Desktop: 1440px
$desktop-width: 90rem;

//card
$width-card: 18rem;

//Spacing(margin, padding, radius)

$smaller: 0.75rem;
$small: 1rem;
$medium: 1.5rem;
$big: 2rem;
$extra: 3rem;