//TYPOGRAPHY

//family
$font-primary: 'Hanken Grotesk', sans-serif;

//weights
$weight-light: 500;
$weight-medium: 700;
$weight-heavy: 800;

//COLORS

$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

$link-blue: hsl(228, 45%, 44%);

//gradients

//background
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);

//circle
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

//RESPONSIVITY

//Mobile: 375px
$mobile-min-width: 23.43em;
//700px
$mobile-max-width: 43.75em;
//Desktop: 1440px
$desktop-width: 90em;