@import 'fonts';
@import 'variables';
@import 'extends';
@import 'mixins';
@import 'common';

.results-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;

  background-color: $white;
  border-radius: $medium;
  box-shadow: 5px 5px 20px 0px $light-lavender;
}

@media only screen and (max-width: $mobile-max-width) {

  .results-card {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;

    min-width: $mobile-min-width;
    margin-bottom: $extra;

    border-radius: 0;
  }
}

.overall-result {
  @extend %flex-between-column;

  gap: $medium;
  width: $width-card;
  padding: $big;

  color: $light-lavender;
  font-size: $fs-300;

  background: linear-gradient($light-slate-blue, $light-royal-blue);
  border-radius: $medium;

  .result {
    @extend %flex-between-column;
    height: max-content;
    aspect-ratio: 1 /1;
    padding: $big;

    font-size: $fs-200;
    font-weight: $fw-bold;

    background: linear-gradient($violet-blue, $persian-blue);
    border-radius: 50%;

    .result-achieved {
      color: $white;
      font-size: $fs-900;
      font-weight: $fw-bolder;
    }
  }

  .classification {
    color: $white;
  }

  .evaluation{
    text-align: center
  }
}

@media only screen and (max-width: $mobile-max-width) {

  .overall-result {
    min-width: $mobile-min-width;
    max-width: $mobile-max-width;

    gap: $small;

    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.attributes-summary {
  @extend %flex-between-column;

  width: $width-card;
  padding: $big;

  .attribute {
    @extend %flex-between;

    width: 100%;
    padding: $smaller;
    
    font-size: $fs-300;
    
    border-radius: $smaller;

    .header {
      @extend %flex-center;
      gap: $small;
    }

    .score {
      color: lighten($color: $dark-gray-blue, $amount: 30%);
      font-weight: $fw-regular;

      .achieved {
        color: $dark-gray-blue;
        font-weight: $fw-bolder;
      }
    }
  }
}

@media only screen and (max-width: $mobile-max-width) {

  .attributes-summary {
    min-width: $mobile-min-width;
    max-width: $mobile-max-width;

    gap: $small;

    border-radius: 0;
  }
}

.reaction {
  color: $light-red;
  background-color: lighten($color: $light-red, $amount: 30%);
}

.memory {
  color: $orangey-yellow;
  background-color: lighten($color: $orangey-yellow, $amount: 40%);
}

.verbal {
  color: $green-teal;
  background-color: lighten($color: $green-teal, $amount: 60%);
}

.visual {
  color: $cobalt-blue;
  background-color: lighten($color:$cobalt-blue, $amount: 50%);
}

.title {
  font-size: $fs-300;

  &.main {
    font-size: $fs-400;
  }

  &.summary {
    align-self: flex-start;

    color: $dark-gray-blue;
    font-size: $fs-400;
  }

  &.classification {
    font-size: $fs-500;
  }
}

.button {
  width: 100%;
  margin-top: $small;
  padding: $smaller;

  color: $white;
  font-family: $ff-default;
  font-size: $fs-300;
  font-weight: $fw-regular;

  background-color: $dark-gray-blue;
  border: none;
  border-radius: 100vw;

  cursor: pointer;

  &:hover {
    background: linear-gradient($light-slate-blue, $light-royal-blue);
  }
}


.attribution {
  position: absolute;
  bottom: 0;

  margin-bottom: 2em;

  font-size: $fs-100;
  text-align: center;
}